*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right:30px ;
    
    font-weight: 600;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.h1, .prara{
    margin-bottom: 20px;
}
.h1{
    font-size: 3.25rem;
}
.prara{
    font-weight: 600;
}
.btn{
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    width: 120px;
    height: 30px;
    font-weight: 700;
}
/* logo style */
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}